@model PrestamoDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PrestamoDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PrestamoId" />
            <div class="form-group">
                <label asp-for="FechaPrestamo" class="control-label"></label>
                <input asp-for="FechaPrestamo" class="form-control" />
                <span asp-validation-for="FechaPrestamo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDevolucionEsperada" class="control-label"></label>
                <input asp-for="FechaDevolucionEsperada" class="form-control" />
                <span asp-validation-for="FechaDevolucionEsperada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibroId" class="control-label"></label>
                <input asp-for="LibroId" class="form-control" />
                <span asp-validation-for="LibroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TituloLibro" class="control-label"></label>
                <input asp-for="TituloLibro" class="form-control" />
                <span asp-validation-for="TituloLibro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <input asp-for="UsuarioId" class="form-control" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DespachadorId" class="control-label"></label>
                <input asp-for="DespachadorId" class="form-control" />
                <span asp-validation-for="DespachadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreDespachador" class="control-label"></label>
                <input asp-for="NombreDespachador" class="form-control" />
                <span asp-validation-for="NombreDespachador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SancionId" class="control-label"></label>
                <input asp-for="SancionId" class="form-control" />
                <span asp-validation-for="SancionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConceptoSancion" class="control-label"></label>
                <input asp-for="ConceptoSancion" class="form-control" />
                <span asp-validation-for="ConceptoSancion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoSancion" class="control-label"></label>
                <input asp-for="MontoSancion" class="form-control" />
                <span asp-validation-for="MontoSancion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
