@model UsuarioDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UsuarioDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroTelefono" class="control-label"></label>
                <input asp-for="NumeroTelefono" class="form-control" />
                <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <input asp-for="Rol" class="form-control" />
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioGestion" class="control-label"></label>
                <input asp-for="UsuarioGestion" class="form-control" />
                <span asp-validation-for="UsuarioGestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordGestion" class="control-label"></label>
                <input asp-for="PasswordGestion" class="form-control" />
                <span asp-validation-for="PasswordGestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrestamosIds" class="control-label"></label>
                <input asp-for="PrestamosIds" class="form-control" />
                <span asp-validation-for="PrestamosIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrestamosDespachadosIds" class="control-label"></label>
                <input asp-for="PrestamosDespachadosIds" class="form-control" />
                <span asp-validation-for="PrestamosDespachadosIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
